@model PizzeriaEpiserverSite.Models.ViewModels.BlogCategoryListViewModel


@if (Model.Pages != null)
{
    foreach (var page in Model.Pages)
    {
        <h2>@page.Name</h2>
        <p>@page.MainBody</p>
    }
}
