@model PizzeriaEpiserverSite.Models.ViewModels.BlogCategoryListViewModel


@if (Model.Pages != null)
{
    foreach (var page in Model.Pages)
    {
        <h2><a>@page.Name</a></h2>
        <p>@page.StartPublish.Value</p>
        <p>@page.MainBody</p>
    }
}
else
{
  
}
