@model PizzeriaEpiserverSite.Models.ViewModels.BlockEditPageViewModel



<div class="row">
    <div class="col-md-12">
        @Html.PropertyFor(x => x.previewBlock.ContentArea)
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        @Html.PropertyFor(x => x.previewBlock.ContentArea)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.PropertyFor(x => x.previewBlock.ContentArea)
    </div>
</div>